/* background apki */
.clickbait {
    background: #0f111a;
    color: white;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: lato;
    counter-reset: card;
  }
  /* inkrementowanie cards */
  .card {
    counter-increment: card-number;
  }
  .card__number::before {
    font-weight: bold;
    font-size: 12px;
    content: "News " counter(card-number);
  }
  /* stylowanie cards */
  .card {
    width: 100px;
    height: 100px;
    background: red;
    padding: 10px;
    margin: 5px;
  }
  .clickbait > div:nth-child(2) {
    background: orange;
  }
  .clickbait > div:nth-child(3) {
    background: yellowgreen;
  }
  .clickbait > div:nth-child(4) {
    background: yellow;
    color: black;
  }
  .clickbait > div:nth-child(5) {
    background: aqua;
    color: black;
  }
  .clickbait > div:nth-child(6) {
    background: white;
    color: black;
  }